form {margin-left: 100px;}
.note {color: red;}

header, nav, footer, article 
{
	display:block;
}
header
{
	text-align: center;
}
footer 
{
	clear:both;
}
ul
{
	list-style-type: none;
	-webkit-padding-start: 0px;
}
#right
{
	float:right;
	margin-right: 100px;
}
span.clear 
{ 
	clear: right; 
	display: block; 
}
a 
{
    text-decoration: none !important;
}