form {margin-left: 100px;}
div.note {color: red; font-size: 1.15em;}

header, nav, footer, article 
{
	display:block;
}
header
{
	text-align: center;
	border-bottom:2px solid black;
}
h1, h2, h3, #hobby_btn
{
	padding-left: 10px;
}
article 
{
	float:left; 
	width:95%; 
}
footer 
{
	border-top:2px solid black;
	clear:both;
}
#right
{
	float:right;
	margin-right: 100px;
}
span.clear 
{ 
	clear: right; 
	display: block; 
}
a 
{
    text-decoration: none !important;
}